include MANIFEST.in
include README.rst
recursive-include leonardo_module_redirects/static *
recursive-include leonardo_module_redirects/locale *
recursive-include leonardo_module_redirects/templates *
